.landing-text{
    font-size: 1.5rem;
    margin-left: 0;
}
.body-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(white, pink);
}
/* .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
    overflow-y: hidden;
} */
.text-container{
    /* text-align: center; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing-container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    /* align-items: center; */
}


.me-auto{
    background-color: red;
}
.wrapper{
    display: flex;
}

@media(max-width: 500px){
    .landing-text{
        font-size: 1.2rem;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .landing-container{
        display: flex;
        
    }
    .text-container{
        width: 100%;
    }
    .img{
        width: 100%
    }
}

@media(min-width: 500px) and (max-width: 1000px){
    .landing-text{
        font-size: 2rem;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .landing-container{
        display: flex;
        
    }
    .text-container{
        width: 100%;
    }
    .img{
        width: 100%
    }
}

@media(min-width: 1001px){
    .landing-text{
        font-size: 2rem;
    }
}